%h3 About TaskHamster
%hr
%p 
  (This project is currently under construction!)
  %progress.progress.progress-striped.progress-success{:value=>'3',:max=>'100'}
%p 
  TaskHamster is a small project management rails app. checkout source 
  %a{:href=>'https://github.com/cherriepie/TaskHamster'} 
    %u HERE 
  for progress update and code base.
%h3 Credit:
%hr
%p 
  Thanks Sercypher for the witty name.
  .icon.icon-emoji-flirt.inline
