= simple_form_for(Project.new) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, label: false, placeholder: "Project Name", :required => true
    /= f.input :status
  .form-actions.text-right
    = f.button :submit, :class => "btn btn-warning-outline"
