.row
  %p#notice= notice
.row
  %button.btn.btn-primary{:onclick=> "switchView()"} Switch View
.row#v1
  =render 'card_view_v1'
.row#v2{:style=>"display:none;"}
  =render 'card_view_v2'


:javascript
  function switchView(){
  	if ($('#v1').is(":visible") == true){
      $('#v1').hide();
      $('#v2').show();
    }
    else{
      $('#v1').show();
      $('#v2').hide();
    }     
  }