%p#notice= notice
%h3.text-center=@project.name
.row
  .col-sm-2
    .project-options-sidebar
      .btn-group-vertical
        %a.btn.btn-info-outline{"data-container" => "body", "data-content" => "#{render 'tasks/new_task'}", "data-placement" => "right", "data-toggle" => "popover", :type => "button", "data-html"=>"true"}
          New Task
        %a.btn.btn-info-outline Add Member
        = link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' },  :class=>"btn btn-danger-outline"

  .col-sm-10
    =render 'project_tasks'
    =render 'project_completed_tasks'

/= link_to 'Edit', edit_project_path(@project)      


