%p#notice= notice
.row
  .pull-left
    = link_to(projects_path) do
      .icon.icon-arrow-bold-left.pull-right to All Projects

%h3.text-center=@project.name
%h5 Current Tasks
=render 'project_tasks'

%h5 Completed Tasks
=render 'project_completed_tasks'


= link_to 'Edit', edit_project_path(@project)      
= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }


