.project-card {
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 28px;
}

.task-name{
	width:80%;
}

.task-status{
	width:8%;
}

ul.tasks {
	padding-bottom:20px;

}

ul.completed-tasks{
	padding-bottom:20px;
}