body{
	background-color: #f7f7f9;
	padding-top: 61px;
    padding-bottom:61px;
}

.container-wrapper{
    width:100%;
}

.cards{
    margin:0 auto;
}
@media only screen and (max-width: 720px){
.cards{
    padding:0;
}

.project-card {
    width: 100%;
}

.header-logo, .header-link {
    font-size:16px;
}}

@media only screen and (min-width: 720px) and (max-width:940px){
.cards{
    padding:0 10px;
    margin:0 auto;
}

.project-card {
    width: 49%;
}

.header-logo, .header-link {
    font-size:26px;
}}

@media only screen and (min-width: 940px){
.project-card {
    width: 23.5%;
    /*min-width:220px;*/
}

.header-logo, .header-link {
    font-size:26px;
}}

@media (min-width: 768px){
.container {
    max-width: none;
}}

@media (min-width: 544px){
.container {
    max-width: none;
}}


.inline{
    display:inline-block;
}

a, a:hover{
 color: inherit;
}

a.icon{
    cursor: -webkit-grab;
}

a.about {
    /*position: relative;
    float: right;
    padding:0.5rem 1rem;*/
    color: rgba(0,0,0,0.3);
    cursor: -webkit-grab;
}

.icon-large{
	font-size: 30px;
}

.success{
	color: #3c763d
}

.list-group-item.item-success{
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d0e9c6;
}

.list-group-item.item-warning{
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faf2cc;
}

.list-group-item.item-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebcccc;
}

.nav-white{
    background-color:white;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}