/* Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */


.complete-task{
	color:rgba(0, 0, 0, 0.3);
}

.complete-task:hover{
	color:#3c763d;
}

.task-description{
	border-top:0.0625rem solid;
	border-color:inherit;
	margin-top:10px;
}